body{
    background-image: url(./Images/boat.jpeg);
}


.container{
    background-image: url(./Images/Flag-Ghana.jpg);
    font-family: 'poppins' sans-serif;
    line-height: 30px;
    font-style: italic;
    margin-top: 50px;
    padding-left: 150px;
}
h1{
    text-align: center;
    color: darkorange;
}
h2{
    text-align: center;
    color: red;
}
form{
    text-align: center;
    box-sizing: border-box;
    line-height: 30px;
    
}
.selectbox{
    width: 100%;
    font-weight: 700;
    padding: 20px;
    margin: 10px;
    line-height: 15px;
}