body{
    background-image: url(./Images/boat.jpeg);
}


.container{
    background-image: url(./Images/Flag-Ghana.jpg);
    font-family: 'poppins' sans-serif;
    line-height: 30px;
    font-style: italic;
    margin-top: 50px;
    padding-left: 150px;
}
h1{
    text-align: center;
    color: darkorange;
}
h2{
    text-align: center;
    color: red;
}