body{
  background-image: url(Images/ghana.jpg);
}


.container{
    background-image: url(Images/flag.webp);
    font-family: 'poppins' sans-serif;
    line-height: 30px;
    font-style: italic;
    margin-top: 5px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
    color: darkorange;
    font-weight: bolder;
}
h2{
    text-align: center;
    color: black;
    padding: 15px;
}
#akanForm{
    text-align: center;
    box-sizing: border-box;
    line-height: 30px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-right: 40px;
    margin-left: 350px;
    margin-right: 270px;
    border-radius: 20px;
    border-color: green;
    background-color: orange;
    
    
    
}
.selectbox{
    width: 100%;
    font-weight: 700;
    padding: 20px;
    margin: 10px;
    line-height: 15px;
}
.date{
    width: 100%;
    font-weight: 700;
    padding: 20px;
    line-height: 15px;
}
.submit{
    width: 100%;
    line-height: 40px;
    padding: 10px;
    margin: 25px;
    border-radius: 20px;
    
     
}
h3{
    text-align: center;
    color: red;
}
#result{
    color: black;
    text-align: center;
    font-weight: bolder;
    border: green;
    font-size: 20px;
   
}
footer{
    color: black;
    font-size: 18px;
    font-style: italic;
    float: right;
}