body{
  background-image: url(/Images/ghana.jpg);
}


.container{
    background-image: url(./Images/flag.webp);
    font-family: 'poppins' sans-serif;
    line-height: 30px;
    font-style: italic;
    margin-top: 50px;
    padding-left: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
h1{
    text-align: center;
    color: darkorange;
}
h2{
    text-align: center;
    color: red;
    padding: 15px;
}
#akanForm{
    text-align: center;
    box-sizing: border-box;
    line-height: 30px;
    
    
}
.selectbox{
    width: 100%;
    font-weight: 700;
    padding: 20px;
    margin: 10px;
    line-height: 15px;
}
.date{
    width: 100%;
    font-weight: 700;
    padding: 20px;
    line-height: 15px;
}
.submit{
    width: 100%;
    line-height: 40px;
    padding: 10px;
    margin: 25px;
    border-radius: 20px;
    
     
}
h3{
    text-align: center;
    color: red;
}
#result{
    color: white;
    text-align: center;
    font-weight: bolder;
    border: green;
    font-size: 25px;
}
footer{
    color: black;
    font-size: 18px;
    font-style: italic;
    text-align: right;
}